# Test Report

## Summary

- **Result:** OK
- **Tests Ran:** 8
- **Time:** 0.561s

## Details

```
/Users/kylewong/anaconda3/envs/digit-recognition-pytorch/lib/python3.9/site-packages/torchvision/datasets/mnist.py:143: DeprecationWarning: 'mode' parameter is deprecated and will be removed in Pillow 13 (2026-10-15)
  img = Image.fromarray(img.numpy(), mode="L")
........
----------------------------------------------------------------------
Ran 8 tests in 0.561s

OK

Test set: Average loss: 2.2914, Accuracy: 0/10 (0%)

Train Epoch: 1 [0/10 (0%)]	Loss: 2.300728
Train Epoch: 1 [4/10 (33%)]	Loss: 2.921566
Train Epoch: 1 [4/10 (67%)]	Loss: 2.308533

```